django
djangorestframework   # we need the serialization
djangogrpcframework
grpcio
grpcio-tools
psycopg2-binary
redis
celery
feedparser
selenium
webdriver-manager
pypdf2
notion_client
django_celery_beat
pydoc-markdown
md2notion
urllib3<2
pymongo==3.12.3
djongo
